body{
	background:#f0f0f0;	
}
h1{
	color:white;
}
.form{
	position:absolute;
	left:0;top:0;right:0;bottom:0;
	margin:auto;
	width:500px;
	height:320px;
	border-radius:10px;
	background:#ff6347;
	text-align:center;	
}
input{
	float:left;
	border:1px solid #f4a460;
	border-radius:5px;	
	width:200px;
	font-size:18px;
}
.form-group{
	width:100%;
	height:40px;
	padding-top:20px;
}
.control-label{
	float:left;
	width:150px;	
	text-align:right;
	padding-right:10px;
	font-size:18px;
}
.submit{
	width:150px;
	height:40px;	
	font-size:25px;
	color:#fff;
	background:#c0c0c0;
	border:1px solid #c0c0c0;
	border-radius:5px;
}
