		/*********** 总体设计  ***********/
    	html,body{width:100%;}
    	html,body,div,p,ul,li,table,tr,td{margin:0;padding:0;float:left;}
    	table{border-collapse:collapse;}
    	table,tr,td{border:1px solid;}
    	a{text-decoration:none;color:black;}
    	ul,li{list-style-type:none;}

		/*********** 总体设计  ***********/
		.container{width:1200px;margin:0 auto;float:none;}
		.right-p{float:right;}
		p.single{clear:both;}